[submodule "extern/curio"]
	path = extern/curio
	url = https://github.com/filecoin-project/curio.git
	ignore = dirty
[submodule "extern/porep-market"]
	path = extern/porep-market
	url = https://github.com/fidlabs/porep-market.git
	ignore = dirty
[submodule "extern/filecoin-porep-market-tooling"]
	path = extern/filecoin-porep-market-tooling
	url = https://github.com/fidlabs/filecoin-porep-market-tooling.git
	ignore = dirty
[submodule "extern/filecoin-oracle-service"]
	path = extern/filecoin-oracle-service
	url = https://github.com/fidlabs/filecoin-oracle-service.git
	branch = v2
	ignore = dirty
